<section
  class="mat-typography"
  *ngIf="loc"
>
  <div *ngIf="hasBosses()">
    <h2>Bosses</h2>
    <span *ngFor="let poi of (loc$ | async).poi; index as i">
      <div
        *ngIf="(poisDisplayed$ | async)[i]"
        class="boss"
      >
        <div class="icon">
          <app-poi
            [locId]="(loc$ | async).id"
            [poiIndex]="i"
            [state$]="state$"
            size="medium"
          ></app-poi>
        </div>
        <div
          class="key"
          *ngIf="(state$ | async).poi[i].hasKeyItem"
        >
          <app-key-item-picker
            [location]="locId"
            [slot]="i"
            type="boss"
            class="flex"
          ></app-key-item-picker>
        </div>
        <div class="name">{{poi.vanilla}}</div>
      </div>
    </span>
  </div>

  <div *ngIf="hasShops()">
    <h2>Shops</h2>
    <div class="shop-actions">
      <app-item-adder [autoCheckLoc]="locId"></app-item-adder><button
        mat-icon-button
        (click)="gotoItemList()"
      >
        <mat-icon>assignment</mat-icon>
      </button>
    </div>
    <div class="section">
      <table>
        <tr>
          <th *ngIf="hasPoi('item-shop')">
            Item
          </th>
          <th *ngIf="hasPoi('weapon-shop')">
            Weapon
          </th>
          <th *ngIf="hasPoi('armor-shop')">
            Armor
          </th>
        </tr>
        <tr>
          <td
            *ngIf="hasPoi('item-shop')"
            class="picker"
          >
            <app-shop-item-picker
              [location]="loc.id"
              shopType="item"
            ></app-shop-item-picker>
          </td>
          <td
            *ngIf="hasPoi('weapon-shop')"
            class="picker"
          >
            <app-shop-item-picker
              [location]="loc.id"
              shopType="weapon"
            ></app-shop-item-picker>
          </td>
          <td
            *ngIf="hasPoi('armor-shop')"
            class="picker"
          >
            <app-shop-item-picker
              [location]="loc.id"
              shopType="armor"
            ></app-shop-item-picker>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="hasTrappedChests() && (state$ | async)">
    <h2>Trapped Chests</h2>
    <div class="section">
      <div *ngFor="let chest of loc.trapped_chests; index as i">
        <div class="trapped">
          <app-key-item-picker
            *ngIf="(config$ | async).flags.Kt"
            [location]="locId"
            [slot]="i"
            type="trapped"
            class="key"
          ></app-key-item-picker>

          <mat-checkbox
            [checked]="(state$ | async).trapped_chests[i]?.found"
            (change)="doTrappedChest(i, $event.checked)"
          >
            {{chest}}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</section>