.boss {
    display: flex;
    flex-direction: row;
    align-items: center
}

.boss .icon {
    padding: 4px;
}

.boss .key {
    padding: 6px;
}

.boss .name {
    padding: 6px;
}

.flex {
    display: flex;
}

.shop-actions {
    display: flex;
    flex-direction: row;
}

.picker {
    padding-right: 10px;
    vertical-align: top;
}

.section {
    margin-left: 10px;
    margin-bottom: 10px;
}

.trapped .key {
    display: flex;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.trapped {
    display: flex;
    flex-direction: row;
    align-items: center
}