:host {
    min-width: 100%;
}

.full {
    min-width: 100%;
}

.card {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.bosses {
  border-collapse: collapse;
  margin-bottom: 15px;
  width: 100%;
}

.boss {
    border-top: 1px solid white;
}

.boss td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.boss .icon {
    padding: 4px;
}

.boss .key {
    display: flex;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.boss .name {
    padding: 6px;
}

.bosshead .stat {
    padding-left: 10px;
}

.boss .stat {
    padding-left: 10px;
    text-align: right;
}

.flex {
    display: flex;
}

.item-picker {
    display: flex;
    flex-grow: 1;
}

.shop-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.shops {
  border-collapse: collapse;
  width: 100%;
}

.heading {
    border-bottom: 1px solid white;
}

.shop {
    width: 120px;
}
.picker {
    padding-right: 10px;
    vertical-align: top;
}

.section {
    margin-bottom: 10px;
}

.trapped .key {
    display: flex;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.trapped {
    display: flex;
    flex-direction: row;
    align-items: center
}