@import '~@angular/material/theming';

.loc {
    display: flex;
    width:  115px;
    margin: 2px;
}

.pois {
    display: flex;
    flex-wrap: wrap;
}

.disabled {
    filter:brightness(50%);
}

.selected {
    border: solid white 2px;
    margin: 0px;
}

.icon {
    margin: 2px;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}