.icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.icon.claw {
	background: url(./assets/icons.png) 0px 0px;
}
.icon.rod {
	background: url(./assets/icons.png) -20px 0px;
}
.icon.staff {
	background: url(./assets/icons.png) -40px 0px;
}
.icon.darksword {
	background: url(./assets/icons.png) -60px 0px;
}
.icon.sword {
	background: url(./assets/icons.png) -80px 0px;
}
.icon.lightsword {
	background: url(./assets/icons.png) -80px 0px;
}
.icon.katana{
	background: url(./assets/icons.png) -100px 0px;
}
.icon.knife {
	background: url(./assets/icons.png) -120px 0px;
}
.icon.whip {
	background: url(./assets/icons.png) 0px -20px;
}
.icon.axe {
	background: url(./assets/icons.png) -20px -20px;
}
.icon.shuriken {
	background: url(./assets/icons.png) -40px -20px;
}
.icon.boomerang {
	background: url(./assets/icons.png) -60px -20px;
}
.icon.harp {
	background: url(./assets/icons.png) -80px -20px;
}
.icon.wrench {
	background: url(./assets/icons.png) -100px -20px;
}
.icon.potion {
	background: url(./assets/icons.png) -120px -20px;
}
.icon.bow {
	background: url(./assets/icons.png) 0px -40px;
}
.icon.arrow {
	background: url(./assets/icons.png) -20px -40px;
}
.icon.shield {
	background: url(./assets/icons.png) -40px -40px;
}
.icon.helmet {
	background: url(./assets/icons.png) -60px -40px;
}
.icon.armor {
	background: url(./assets/icons.png) -80px -40px;
}
.icon.shirt {
	background: url(./assets/icons.png) -100px -40px;
}
.icon.gauntlet {
	background: url(./assets/icons.png) -120px -40px;
}
.icon.ring {
	background: url(./assets/icons.png) 0px -60px;
}
.icon.callmagic {
	background: url(./assets/icons.png) -20px -60px;
}
.icon.tent {
	background: url(./assets/icons.png) -40px -60px;
}
.icon.plus {
	background: url(./assets/icons.png) -60px -60px;
	margin-left: 45px;
}
.icon.spear {
	background: url(./assets/icons.png) -80px -60px;
}