.icon-container {
    margin-left: 2px;
}

.icon-container.small {
    width: 16px;
    height: 16px;
}

.icon.small {
    width: 16px;
    height: 16px;
}

.icon-container.medium {
    width: 32px;
    height: 32px;
}

.icon.medium {
    width: 32px;
    height: 32px;
}

.disabled {
    filter:brightness(40%);
}